.App {
  text-align: center;
  background-color: white;
  color: black;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
